.button-entrance {
    animation-name: popUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    /* Used to start button entrance animation one after another  */
    animation-delay: calc(var(--delay)/10);
    background-color: #252746 ;
	border-radius: 30px; 
	margin: 10px;
  }

@keyframes popUp {
  from {
    opacity: 50;
    transform: scale3d(0.3, 0.3, 0.3);

  }

  50% {
    opacity: 1;
  }
}

.fadein {
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: both;
    
  }

@keyframes fadein {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}


/* Button hover animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* (Also apply to icon) */

.button-hover, .credit-hover{
    display:inline-block;
    -webkit-transform:perspective(4px) translateZ(0);
    transform:perspective(4px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-transition-duration:5.1s;
    transition-duration:2.2s;
    -webkit-transition-property:transform;
    transition-property:transform
}
.button-hover:active,.credit-hover:active, 
.button-hover:focus,.credit-hover:focus, 
.button-hover:hover,.credit-hover:hover{
    -webkit-transform:scale(1.72);
    transform:scale(1.72)
}


/* Footer hover animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-hover{
    display:inline-block;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out
}
.footer-hover:active,.footer-hover:focus,.footer-hover:hover{
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px)
}
